.App {
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 5rem auto
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 1rem auto
}

.submit-btn {
    padding: 0.5rem;
    cursor: pointer;
    background-color: #0b5468;
    font-weight: 700;
    color: white;
    border: none
}

.List {
    list-style: none;
    display: flex;
    align-items: center;
    width: 50rem;
    margin: 0rem auto;
    border: 0.1rem solid rgba(0, 0, 0, 0.233);
    padding: 1rem;
    justify-content: space-evenly;
}

.calendar{
    display:flex;
    justify-content: center;
    margin-bottom: 1rem;
}